<div class="top-container">
  <div class="name">
    <img src="assets\images\profile-2.png" alt="">
    <div class="intro">
      <span>Sharanya Sargur</span>
      <span>{{intro}} </span>
    </div>
  </div>
  <div class="contact-me">
    <a title="My Profile" href="https://www.linkedin.com/in/sharanya-sargur">
      <img src="assets\images\linkedIn.png" alt="">
    </a>
    <a title="My E-mail id" href="mailto:slsharanya@gmail.com">
      <img src="assets\images\gmail.png" alt="">
    </a>
  </div>
</div>
<hr>
<div class="middle-container">
  <h2>Skills</h2>
  <div class="skills">
    <div class="skill-row">
      <div *ngFor="let skill of skill_1">
        <span> {{skill}} </span>
      </div>
    </div>
    <hr>
    <div class="skill-row">
      <div *ngFor="let skill of skill_2">
        <span> {{skill}} </span>
      </div>
    </div>
  </div>
  <hr>
</div>
<div class="bottom-container">
  <p>© 2020 Sharanya Sargur.</p>
</div>

<router-outlet></router-outlet>
