/*Container 1 start*/
.top-container {
  padding-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.name {
  flex: 50%;
  text-align: left;
  font-size: 50px;
  display: flex;
  flex-direction: row;
  padding-left: 40px;
}

.name span {
  padding-left: 40px;
}

.name img {
  height: 120px;
}

.contact-me {
  flex: 50%;
  text-align: right;
  padding-right: 40px;
  display: flex;
  flex-direction: column;
}

.contact-me a:nth-of-type(1) img {
  height: 30px;
}

.contact-me a:nth-of-type(2) img {
  height: 22px;
  padding-top: 20px;
}

/*Container 1 end*/

/*Container 2 start*/
.middle-container {
  margin: 100px 0;
}

/*Container 2 end*/
