<div class="top-container">
  <div class="name">
    <img src="assets\images\profile-2.png" alt="">
    <span>Sharanya Sargur</span>
  </div>
  <div class="contact-me">
    <a href="https://www.linkedin.com/in/sharanya-sargur">
      <img src="assets\images\linkedIn.png" alt="">
    </a>
    <a href="mailto:slsharanya@gmail.com">
      <img src="assets\images\gmail.png" alt="">
    </a>
  </div>
</div>
<hr>
<div class="middle-container">
  <div class="profile">
    <img src="images/profile.png" alt="profile-pic">
    <h2>Hello.</h2>
    <p class="intro">I am a full stack software developer.</p>
  </div>
  <hr>
  <div class="skills">
    <h2>My Skills.</h2>
    <div class="skill-row">
      <img src="images/computer.png" alt="web-dev">
      <h3>Lorem & Ipsum</h3>
      <p>Lorem ipsum dolor sit amet, quis in duis, iaculis id felis. Consectetuer vestibulum, nunc urna
        lectus, erat ligula. Hendrerit nam, lectus ante, ut lorem eros.</p>
    </div>
    <div class="skill-row">
      <h3>Lorem Ipsum Dolor</h3>
      <p>Lorem ipsum dolor sit amet, mauris sed consectetuer. Etiam et eu, bibendum interdum, lacus quis
        mauris. Curabitur wisi, quisque vel eu, rutrum nam.</p>
    </div>
  </div>
  <hr>
</div>
<div class="bottom-container">
  <p>© 2020 Sharanya Sargur.</p>
</div>

<router-outlet></router-outlet>
