/*Container 1 start*/
.top-container {
  padding-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.intro {
  font-family: 'Montserrat', sans-serif;

}

.intro span:nth-of-type(1) {
  font-size: 50px;
}

.intro span:nth-of-type(2) {
  font-family: 'Montserrat', sans-serif;
  text-align: left;
  font-size: 15px;
  padding: 20px 20px 20px 40px;
  border-radius: 30px;
  display: inline-block;
  font-weight: bold;
}

.name {
  flex: 80%;
  text-align: left;

  display: flex;
  flex-direction: row;
  padding-left: 40px;
}

.name span {
  padding-left: 40px;
}

.name img {
  height: 120px;
}

.contact-me {
  flex: 20%;
  text-align: right;
  padding-right: 40px;
  display: flex;
  flex-direction: column;
}

.contact-me a:hover {
  opacity: 60%;
}

.contact-me a:nth-of-type(1) img {
  height: 30px;
}

.contact-me a:nth-of-type(2) img {
  height: 22px;
  padding-top: 20px;
}

/*Container 1 end*/

/*Container 2 start*/
.middle-container {
  margin: 0 25px;

}

.skills {
  display: flex;
  flex-direction: row;
  text-align: left;
  font-size: 14px;
}

.skill-row {
  flex: 50%;
  background-color: #ee8572;
  border-radius: 30px;
  padding: 20px;
}

.skill-row:nth-of-type(1) {
  margin-right: 10px;
}


/*Container 2 end*/
