<div class="top-container">
  <img class="top-cloud" src="images/cloud.png" alt="cloud-image">
  <h1>I'm Sharanya.</h1>
  <h2>A <span class="pro">pro</span>grammer!</h2>
  <img class="bottom-cloud" src="images/cloud.png" alt="cloud-image">
  <img src="images/mountain.png" alt="mountain-image">
</div>
<div class="middle-container">
  <div class="profile">
      <img src="images/profile.png" alt="profile-pic">
      <h2>Hello.</h2>
      <p class="intro">I am a full stack software developer.</p>
  </div>
  <hr>
  <div class="skills">
      <h2>My Skills.</h2>
      <div class="skill-row">
          <img src="images/computer.png" alt="web-dev">
          <h3>Lorem & Ipsum</h3>
          <p>Lorem ipsum dolor sit amet, quis in duis, iaculis id felis. Consectetuer vestibulum, nunc urna
              lectus, erat ligula. Hendrerit nam, lectus ante, ut lorem eros.</p>
      </div>
      <div class="skill-row">
          <h3>Lorem Ipsum Dolor</h3>
          <p>Lorem ipsum dolor sit amet, mauris sed consectetuer. Etiam et eu, bibendum interdum, lacus quis
              mauris. Curabitur wisi, quisque vel eu, rutrum nam.</p>
      </div>
  </div>
  <hr>
  <div class="contact-me">
      <h2>Get In Touch</h2>
      <h3>Lorem ipsum dolor sit amet, non elit.</h3>
      <p>Lorem ipsum dolor sit amet, in quis, aenean amet. Phasellus sodales, tellus donec dui, ornare erat.</p>
      <a class="btn" href="mailto:slsharanya@gmail.com">CONTACT ME</a>
  </div>
</div>
<!-- <table cellspacing="20">
  <tr>
    <td><img src="assets\images\profile-2.png" alt="" height="120px"></td>
    <td>
      <h1>Sharanya Sargur</h1>
      <p>I am a full stack software developer.</p>
    </td>
  </tr>
</table>
<hr>
<h3>Work Experience</h3>
<table>
  <thead>
    <tr>
      <th>Dates</th>
      <th>Role/ Company</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td> 2020 (MAR) – PRESENT</td>
      <td>Software Technologist I/ Philips Innovation Campus, Bangalore</td>
    </tr>
    <tr>
      <td> 2019 (APR) – 2020(MAR)</td>
      <td>Senior Software Engineer/ Philips Innovation Campus, Bangalore</td>
    </tr>
    <tr>
      <td> 2018 (FEB) – 2019(APR)</td>
      <td>Senior Software Engineer/ Philips Innovation Campus, Bangalore</td>
    </tr>
    <tr>
      <td>2016 (JUNE) – 2018 (FEB)</td>
      <td>Software Engineer/ Philips Innovation Campus, Bangalore</td>
    </tr>
    <tr>
      <td>2016 (JAN) – 2016 (JUNE)</td>
      <td>Intern/ Philips Innovation Campus, Bangalore</td>
    </tr>
  </tbody>


</table>
<hr>
<h3>Skills</h3>
<table>
  <tr>
    <td>
      <table cellspacing = "10">
          <tr>
            <td>HTML5</td>
          </tr>
          <tr>
            <td>Typescript</td>
          </tr>
          <tr>
            <td>CSS3</td>
          </tr>
          <tr>
            <td>JavaScript</td>
          </tr>
          <tr>
            <td>JQuery</td>
          </tr>
          <tr>
            <td>JSON</td>
          </tr>
          <tr>
            <td>XML</td>
          </tr>
      </table>
    </td>
    <td>
      <table cellspacing = "10">
        <tr>
            <td>Angular JS</td>
          </tr>
          <tr>
            <td>Angular</td>
          </tr>
          <tr>
            <td>Bootstrap</td>
          </tr>
      </table>
    </td>
    <td>
      <table cellspacing = "10">
        <tr>
            <td>C# with .NET </td>
          </tr>
          <tr>
            <td>C# with .NET Core</td>
          </tr>
          <tr>
            <td>Java</td>
          </tr>
      </table>
    </td>
    <td>
      <table cellspacing = "10">
       <tr>
            <td>Visual Studio Code</td>
          </tr>
          <tr>
            <td> Notepad++</td>
          </tr>
          <tr>
            <td>Sublime</td>
          </tr>
          <tr>
            <td>Visual Studio</td>
          </tr>
          <tr>
            <td>NetBeans</td>
          </tr>
      </table>
    </td>
  </tr>




</table> -->



<router-outlet></router-outlet>